.profile {
  display: flex;
  margin-top: 20px;
}

.profile__body {
  margin: 0 auto;
  width: 75%;
}

.searchNote__container {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
  width: 70%;
  padding: 10px;
  font-size: 20px;
}

.search__note {
  outline: none;
  border: none;
  background: none;
  padding-left: 5px;
  font-weight: 300;
  flex: 1;
}

@media screen and (max-width: 960px) {
  .profile__body {
    width: 52%;
  }
}

@media screen and (max-width: 627px) {
  .profile__body {
    width: 50%;
  }
}
